* {
  all: unset;
}

title,
style {
  display: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
  cursor: default;
}

body {
  background-color: #000000;
  color: #b5b5b5;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  background: linear-gradient(to bottom right, #ffffff, #808080);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 80px;
  line-height: 1.2;
  font-weight: 600;
}

p {
  font-size: 20px;
}

a {
  padding-top: 30px;
}

a:hover {
  color: #e5e5e5;
  text-decoration: underline;
  cursor: pointer;
}

.cursor-effect {
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #b5b5b5;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: opacity 200ms;
  opacity: 0;
}
