@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-fgColor: rgb(var(--foreground-rgb));
  --color-bgColor: rgb(var(--background-rgb));
  --color-priColor: rgb(var(--primary-rgb));
  --color-secColor: rgb(var(--secondary-rgb));
  --color-shadowColor: rgb(var(--shadow-rgb));

  @keyframes dropdown {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  :root {
    --white-rgb: 245, 245, 245;
    --black-rgb: 38, 38, 38;
    --primary-rgb: 205, 161, 116;

    --foreground-rgb: var(--black-rgb);
    --background-rgb: var(--white-rgb);
    --secondary-rgb: 229, 229, 229;
    --shadow-rgb: 163, 163, 163;
  }

  ::selection {
    color: rgb(245, 245, 245);
    background: rgb(var(--primary-rgb));
  }

  [data-theme="dark"] {
    --foreground-rgb: var(--white-rgb);
    --background-rgb: var(--black-rgb);
    --secondary-rgb: 64, 64, 64;
    --shadow-rgb: 10, 10, 10;
  }

  main {
    @apply bg-bgColor text-fgColor;
  }

  h1 {
    @apply text-3xl font-semibold sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-xl font-normal sm:text-2xl md:text-3xl;
  }

  h3 {
    @apply text-lg font-semibold sm:text-xl md:text-2xl;
  }

  h4 {
    @apply text-base font-semibold sm:text-lg;
  }

  p,
  a,
  label {
    @apply text-sm sm:text-base md:text-lg;
  }
}

#navDropdown > summary::-webkit-details-marker {
  display: none;
}

.font-medium {
  font-weight: 400; /* fix font-weight to only have 400 and 600 */
}
